<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TestPage</title>
</head>
<body>
	<h1>테스트 페이지 이동 완료</h1>
    <table border="1px">
        <thead>
            <tr>
                <th>인덱스</th>
                <th>이름</th>
                <th>이메일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board: ${user}">
                <td><span th:text="${board.id}"></span></td>
                <td><span th:text="${board.name}"></span></td>
                <td><span th:text="${board.email}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
